<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PivotalTracker.FluentAPI.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PivotalTracker.FluentAPI.Tests.Properties.Settings>
            <setting name="ApiKey" serializeAs="String">
                <value>XXXX</value>
            </setting>
            <setting name="TestProjectId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NewMemberName" serializeAs="String">
                <value>a real member name</value>
            </setting>
            <setting name="NewMemberEmail" serializeAs="String">
                <value>realemail@mydomain.com</value>
            </setting>
        </PivotalTracker.FluentAPI.Tests.Properties.Settings>
    </userSettings>
</configuration>